<div class="container mt-4">

  <h2 class="text-center">Mes locations de voitures</h2>
  <div class="container d-flex justify-content-center">
    <button class="btn btn-dark m-2"
            (click)="onClickChangeAllCarsStatus('loué')">
      Louée
    </button>
    <button class="btn btn-dark m-2"
            (click)="onClickChangeAllCarsStatus('pas louée')">
      Pas louée
    </button>
  </div>

  <app-grid-view [data]="cars" col="3"></app-grid-view>


  <router-outlet></router-outlet>
</div>
